# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDE
.idea/
.vscode/
*.swp
*.swo

# Flutter
flutter-app/open_scale/.dart_tool/
flutter-app/open_scale/.packages
flutter-app/open_scale/.pub/
flutter-app/open_scale/build/
flutter-app/open_scale/ios/Pods/
flutter-app/open_scale/ios/.symlinks/
flutter-app/open_scale/android/.gradle/
flutter-app/open_scale/android/app/build/
*.iml

# Xcode
*.xcuserstate
xcuserdata/
DerivedData/

# Arduino
firmware/**/build/
firmware/**/.build/

# Compiled
*.o
*.obj
*.exe
*.out
*.app
